<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ManagerPlant</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="" />
            <span>
              ManagerPlant
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="inicio.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contacto.html"> Contacto </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="registro.html"> Registro </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Busqueda.html"> Busqueda </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- hero section -->
    <section class="hero_section">
      <div class="hero_detail">
        <h1>
          <span>
            h
          </span>
          <span>
            e
          </span>
          <span>
            r
          </span>
          <span>
            b
          </span>
          <span>
            a
          </span>
          <span>
            l
          </span>
        </h1>
        <h3>
          Registra tus plantas
          </h2>
      </div>
      <div class="hero_btn-box">
        <a href="">
          Contacto
        </a>
      </div>
    </section>
    <!-- end hero section -->
  </div>
  <!-- end hero area -->


  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="about_container">
      <div class="container">
        <div class="detail">
          <h2 class="custom_heading">
            Sobre nosotros
          </h2>
          <p>
            Somos una organizacion destinada a el registro y cuidado de plantas. Accede a nuestra base, que contiene informacion sobre cientos de plantas, su origen y los cuidados que requieren.
          </p>
          <div>
            <a href="">
              Mas informacion
            </a>
          </div>
        </div>
        <div class="detail-2">
          <p>
            Tambien puedes registrar tus plantas y colaborar con nosotros.
          </p>
        </div>
      </div>
    </div>
  </section>


  <!-- end about section -->

  <!-- product section -->
  <section class="product_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="custom_heading">
        Productos a base de plantas
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="img-box box-1">
        <img src="images/p-1.jpg" alt="">
      </div>
      <div class="img-box box-2">
        <img src="images/p-2.jpg" alt="">
      </div>
      <div class="img-box box-3">
        <img src="images/p-3.jpg" alt="">
      </div>
      <div class="img-box box-4">
        <img src="images/p-4.jpg" alt="">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="">
        Mas informacion
      </a>
    </div>
  </section>


  <!-- end product section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-center text-center">
        <h2 class="custom_heading ">
          Secado y uso de plantas medicinales
        </h2>
        <p class="">
          Tambien algunas plantas son sometidas a procesos de secado especiales y por medio de este, favorecer su cualidades medicinales y usarlas para el tratamiento de algunas afecciones.
        </p>
      </div>
    </div>
    <div class="why_container my-4">
      <div class="img_box">
        <img src="images/why-img.jpg" alt="">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="">
        Lee más
      </a>
    </div>
  </section>

  <!-- end why section -->



  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="col-md-6">
        <div class="d-flex mb-4 ml-4 ml-md-0">
          <h2 class="custom_heading text-center">
            CONTACTO
          </h2>
        </div>
        <form action="">
          <div>
            <input type="text" placeholder="Nombre" />
          </div>
          <div>
            <input type="email" placeholder="Email" />
          </div>
          <div>
            <input type="text" placeholder="Numero de telefono" />
          </div>
          <div>
            <input type="text" class="message-box" placeholder="Mensaje" />
          </div>
          <div class="d-flex justify-content-center mt-4 ">
            <button>
              ENVIAR
            </button>
          </div>
        </form>
      </div>
    </div>

  </section>

  <!-- end contact section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="custom_heading">
        Testimonios
      </h2>
    </div>
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding">
              <div class="img_box">
                <img src="images/client.png" alt="">
              </div>

              <div class="detail_box">
                <h5>
                  <span>
                    J
                  </span>
                  <span>
                    u
                  </span>
                  <span>
                    a
                  </span>
                  <span>
                    n
                  </span>
                  <span>
                    R
                  </span>
                </h5>
                <p>
                  Conocí la pagina hace unos meses, intentando obtener informacion sobre el cuidado de 
                  algunas plantas y despues con el tiempo tambien realice mi aporte brindando información y de 
                  repente logramos una relacion de ida y vuelta. Aprendo todo el tiempo, por que muchas personas incorporan sus experiencias.
            
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding">
              <div class="img_box">
                <img src="images/client.png" alt="">
              </div>

              <div class="detail_box">
                <h5>
                  <span>
                    J
                  </span>
                  <span>
                    u
                  </span>
                  <span>
                    a
                  </span>
                  <span>
                    n
                  </span>
                  <span>
                    R
                  </span>
                </h5>
                <p>
                  Estamos ubicados en la Ciudad de CORDOBA, Republica Argentina. 
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding">
              <div class="img_box">
                <img src="images/client.png" alt="">
              </div>

              <div class="detail_box">
                <h5>
                  <span>
                    M
                  </span>
                  <span>
                    o
                  </span>
                  <span>
                    r
                  </span>
                  <span>
                    s
                  </span>
                  <span>
                    w
                  </span>
                </h5>
                <p>
                  Estamos ubicados en la hermosa Ciudad de CORDOBA, Republica ARGENTINA.-
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- end client section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container layout_padding-top  layout_padding2-bottom">
      <div class="logo-box">
        <a href="index.html">
          <img src="images/info-logo.png" alt="">
        </a>
      </div>
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1">
              <img src="images/location-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                Estamos ubicados en la hermosa Ciudad de CORDOBA, Republica ARGENTINA.-
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">
              <img src="images/envelope-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                managerplantcordoba@gmail.com
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2">
              <img src="images/telephone-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                +54 3513286473
              </p>
            </div>
          </div>
        </a>

      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>